.landing-swiper {
  width: 100%;
  height: 100%;
}
.landing-swiper .swiper-slide img {
  width: 100%;
  height: 92%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing-swiper .swiper-pagination {
  bottom: 4%;
}
.landing-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #b29659;
  opacity: 0.5;
}
.landing-swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #b29659;
}

.fs-10px {
  font-size: 10px;
}

.fs-11px {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600 !important;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-150px {
  width: 150px;
}

.main-color {
  color: #b29659;
}

.gap-1px {
  gap: 1px;
}

.main-section {
  padding: 35px 0;
}

.padding-section {
  padding-block: 80px;
}

.main-btn {
  border-radius: 50px;
  background: #b29659;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  padding: 7px 33px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  color: #fff !important;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  line-height: normal;
}
.main-btn.xl {
  padding-left: 93px;
  padding-right: 93px;
}

.inp {
  border: 1.2px solid #b4bec8;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  direction: rtl;
  display: block;
}
.inp::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(135, 135, 135, 0.5);
}
.inp::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(135, 135, 135, 0.5);
}

textarea {
  height: 135px;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
a:hover {
  color: rgba(0, 0, 0, 0.6);
}

button {
  border: none;
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

.section-goals {
  background-color: #0f152d;
  padding-block: 68px;
  background-image: url("../img/buildings.png");
  background-repeat: no-repeat;
  background-position: 100% center;
}
.section-goals .container {
  display: flex;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.section-goals .container .title {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  color: #b29659;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  padding: 0 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.section-goals .container .content {
  flex: 1;
  min-width: 130px;
}
.section-goals .container .content .sub-title {
  color: #b29659;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: normal;
}
.section-goals .container .content .des {
  color: #ADADAD;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: normal;
}

.section-btns {
  padding-block: 40px;
  background-color: rgba(211, 211, 211, 0.5);
  background-size: cover;
  background-image: url("../img/section-btns.png");
  background-repeat: no-repeat;
  position: relative;
  background-position: 0;
  position: relative;
  z-index: 1;
}
.section-btns::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: -1;
  bottom: 0;
  right: 0;
  background-color: rgba(217, 217, 217, 0.5);
}
.section-btns::before {
  opacity: 0.1;
}/*# sourceMappingURL=main.css.map */