$main-color: #b29659;
$main-color-light:#a98f59;
$main-color-dark: #3c3b43;
$sec-color: #0f152d;
$dark-color: #121212;
$text-color1: rgba(0, 0, 0, 0.6);
$text-color2: #0B2239;
$text-color3: #000000;
$text-color4: #555555;

$white: white;

$text-light-gray: #ADADAD;