.section-goals {
  background-color: #0f152d;
  padding: 68px;
  background-image: url("./img/buildings.png");
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-landing {
  @include full-w-h;
  position: relative;
  .swiper-wrapper {
    .swiper-slide {
      position: relative;
      .container {
        position: relative;
        height: 100%;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include set-cover-img;
      }
    }
  }
  .inp-search {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    z-index: 50;
    max-width: 600px;
    .inp {
      background-color: rgba(23, 22, 24, 0.7);
      border: 0;
      border-radius: 8px;
      color: #fff;
      &::placeholder {
        color: #fff;
      }
      &:focus {
        box-shadow: 0 0 2px 3px rgba($color: $main-color, $alpha: 0.5);
      }
    }
    .input-group-text {
      background-color: rgba(23, 22, 24, 0.7) !important;
      border: 0;
      color: $main-color;
      font-size: 24px;
    }
  }
  .swiper-pagination {
    bottom: 3%;
    @include flex-justify(flex-end);
    padding: 0 2%;

    .swiper-pagination-bullet {
      width: 24px;
      height: 24px;
      opacity: 1;
      transition: $sm-transition;
      background-color: $white-color;

      &.swiper-pagination-bullet-active {
        background-color: $main-color;
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: $main-color;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid $main-color;
    &::after {
      font-size: 18px !important;
      font-weight: bold;
    }
  }
  .swiper-button-prev {
    right: 100px !important;
  }
  .swiper-button-next {
    left: 100px !important;
  }
}
.box-intro {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  z-index: 1;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
  span {
    color: $white-color;
  }

  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    margin-bottom: 0;
    text-align: center;
  }

  .des {
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: center;
    padding: 20px;
  }

  @include maxWidth(xs) {
    width: 100%;
    text-align: center;
    padding: 5px;

    .title {
      font-size: 34px;
    }

    .des {
      font-size: 22px;
      line-height: 45px;
    }
  }
}
.btn-nav {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 8px;
  &:hover {
    color: $main-color;
  }
}
.box-other-image {
  position: relative;
  border-radius: 14px;
  .text {
    position: absolute;
    width: 98%;
    height: 56px;
    bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 0px 0px 14px 14px;
    left: 3px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
  }
}
.other-image {
  transform: translateY(-150px);
  z-index: 99;
  position: relative;
}
.section-about {
  .about-land {
    border: 4px solid $main-color;
    border-radius: 14px;
    position: relative;
    img {
      transform: translate(-30px, -30px);
      width: 100%;
      height: 465px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  .content {
    padding: 20px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px;
      .text {
        display: flex;
        align-items: start;
        flex-direction: column;
        .title {
          color: $main-color;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .des {
          color: #121212;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
    .text {
      color: #adadad;
      text-align: right;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .title-holder {
      display: flex;
      justify-content: center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 65%;
        transform: translateY(-50%);
        background-color: $main-color;
        z-index: -1;
      }
      .sub-title {
        background-color: #fff;
        color: #a98332;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        padding: 10px 20px;
      }
    }
    .company-holder {
      display: flex;
      align-items: center;
      gap: 32px;
      justify-content: space-between;
      flex-wrap: wrap;
      .img{
        width: 166px;
        height: auto;
      }
    }
  }
}
